
:root {
	--water: #deeaff ;
	--wave: #5599ff ;
	--sand: #fff1bb ;
	--border: #b37c57 ;

	/* Radius of the rounded corners. */
	--roundness: 25px ;
	/* Island border */
	--sand-width: 5px ;
	/* Space between waves */
	--wave-space: 5px ;
	/* Waves widths, as a proportion of --sand. */
	--first-wave-width: 1 ;
	--second-wave-width: calc(2/3) ;
	--third-wave-width: calc(1/3) ;
}

body {
  min-width: 50px ;
  color: black ;
  background-color: var(--water) ;
  margin: 0 ;
  padding: 20px ;
}


@media print {
  body {
    background-color: white ;
  }
}

.island:before, .island:after, .pond:before, .pond:after {
  content: "" ;
  position: absolute ;
}

.island, .pond {
	border-radius: var(--roundness) ;
  position: relative ;
	padding: 1em ;
}

.island {
	background-color: var(--sand) ;
	border: var(--sand-width) solid var(--border) ;
	/* We fake the space to the first wave using this outline. */
	outline: var(--wave-space) solid var(--water) ;
	--val-color: var(--border) ;
	margin:
		calc(var(--sand-width) * (var(--first-wave-width) + var(--second-wave-width) + var(--third-wave-width)) + 3 * var(--wave-space)) ;
}

/* First and second waves (faked with outline) */
.island:before {
	border-radius:
		calc(var(--roundness) + var(--sand-width) * (1 + var(--first-wave-width)) + var(--wave-space)) ;
  top: calc(0px - (var(--sand-width) * (1 + var(--first-wave-width)) + 2 * var(--wave-space))) ;
  left: calc(0px - (var(--sand-width) * (1 + var(--first-wave-width)) + 2 * var(--wave-space))) ;
  right: calc(0px - (var(--sand-width) * (1 + var(--first-wave-width)) + 2 * var(--wave-space))) ;
  bottom: calc(0px - (var(--sand-width) * (1 + var(--first-wave-width)) + 2 * var(--wave-space))) ;
	background-color: var(--wave) ;
  border: var(--wave-space) solid var(--water) ;
  outline: calc(var(--sand-width) * var(--second-wave-width)) solid var(--wave) ;
	z-index: -1 ;
}

/* Third wave. */
.island:after {
	border-radius:
		calc(var(--roundness) + var(--sand-width) * (1 + var(--first-wave-width) + var(--second-wave-width)) + 2 * var(--wave-space)) ;
  top: calc(0px - (var(--sand-width) * (1 + var(--first-wave-width) + var(--second-wave-width)) + 3 * var(--wave-space))) ;
  left: calc(0px - (var(--sand-width) * (1 + var(--first-wave-width) + var(--second-wave-width)) + 3 * var(--wave-space))) ;
  right: calc(0px - (var(--sand-width) * (1 + var(--first-wave-width) + var(--second-wave-width)) + 3 * var(--wave-space))) ;
  bottom: calc(0px - (var(--sand-width) * (1 + var(--first-wave-width) + var(--second-wave-width)) + 3 * var(--wave-space))) ;
  border: calc(var(--sand-width) * var(--third-wave-width)) solid var(--wave) ;
	z-index: -2 ;
}

.pond {
  display: inline-block ;
	background-color: var(--water) ;
	border: var(--sand-width) solid var(--border) ;
	--val-color: var(--wave) ;
	margin: var(--sand-width) ;
}


/* Slider checkbox buttons */

.switch {
  display: inline-block ;
  height: 24px ;
  position: relative ;
  width: 41px ;
	margin-right: 1ex ;
}

.switch input {
  display: none ;
}

.slider {
  background-color: #ccc ;
  bottom: 0 ;
  cursor: pointer ;
  left: 0 ;
  position: absolute ;
  right: 0 ;
  top: 0 ;
  transition: .2s ;
  border-radius: 23px;
}

.slider:before {
  background-color: #fff ;
  bottom: 3px ;
  content: "" ;
  height: 18px ;
  left: 2px ;
  position: absolute ;
  transition: .2s ;
  width: 18px ;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--val-color) ;
}

input:checked + .slider:before {
  transform: translateX(18px) ;
}

input[type=number] {
	width: 5em ;
}

textarea {
	width: 100% ;
}


.message {
	font-family: monospace ;
	display: block ;
}

.output {
	display: block ;
}

